.finish{
	background: url(../img/finish.png);
    width: 29px;
	height: 29px;
	background-size: 100% 100%;
}
.refesh{
	background: url(../img/refesh.png);
    width: 32px;
	height: 32px;
	background-size: 100% 100%;
}
.icon_shijian{
	position: absolute;
	left: 11px;
	top: 8px;
	background: url(../img/shijian.png);
    width: 32px;
	height: 32px;
	background-size: 100% 100%;
}
.icon_daojishi{
	position: absolute;
	left: 11px;
	top: 8px;
	background: url(../img/daojishi.png);
    width: 32px;
	height: 32px;
	background-size: 100% 100%;
}
.icon_danwei{
	position: absolute;
	left: 11px;
	top: 8px;
	background: url(../img/danwei.png);
    width: 32px;
	height: 32px;
	background-size: 100% 100%;
}
.icon_ziti{
	position: absolute;
	left: 11px;
	top: 8px;
	background: url(../img/ziti.png);
    width: 32px;
	height: 32px;
	background-size: 100% 100%;
}
.icon_djsxx{
	position: absolute;
	left: 13px;
	top: 10px;
	background: url(../img/djsxx.png);
    width: 28px;
	height: 28px;
	background-size: 100% 100%;
}
.icon_benpao{
	position: absolute;
	left: 13px;
	top: 10px;
	background: url(../img/benpao.png);
    width: 28px;
	height: 28px;
	background-size: 100% 100%;
}
.icon_tianqi{
	position: absolute;
	left: 11px;
	top: 7px;
	background: url(../img/tianqi.png);
    width: 34px;
	height: 34px;
	background-size: 100% 100%;
}
.icon_shijianming{
	position: absolute;
	left: 11px;
	top: 7px;
	background: url(../img/shijianming.png);
    width: 34px;
	height: 34px;
	background-size: 100% 100%;
}
.chuiCenter{
	position: relative;
	top:50%;
	-webkit-transform: translate(0,-50%);
	transform:translate(0,-50%);
}
	.hengCenter{
	position: relative;
	left:50%;
	-webkit-transform: translate(-50%);
	transform:translate(-50%);
}
.chuihengCenter{
	position: relative;
	top:50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	transform:translate(-50%,-50%);
}
